/node_modules
/public/hot
/public/storage
/public/entrypoints.json
/public/javascript/*
/public/stylesheets/*
/public/manifest.json
/public/runtime.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
